version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm" # to manage semantic-release plugin dependencies
    directory: "/"
    schedule:
      interval: "daily"
