{{- if and .Values.node.enabled .Values.node.configMap.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kuack-node.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kuack-node.labels" . | nindent 4 }}
data:
  {{- include "kuack-node.configMapData" . | nindent 2 }}
{{- end }}
